.styled_nav {
    display: flex;
    align-items: flex-end;
}

.styled_ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.styled_li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.styled_link {
    font-size: 0.8rem;
    color: #1f1e31;
    text-decoration: none;

}